---
import Spacer from "../utils/Spacer.astro";
import Heading from "../ui/Heading.astro";
import Profile from "../ui/Profile.astro";
---

<section id="about" class="scroll-mt-20">
  <Heading
    title="About Me."
    subtitle="Weaving tales of data and functionality with every line of code."
    colour="text-frost"
    index="about"
  />

  <Spacer />

  <div class="md:flex gap-6 space-y-6 md:space-y-0">
    <div class="flex-1 space-y-20">
      <ul>
        <li><h3>Employment:</h3></li>
        <li>
          <span>04/23 – 09/23:</span> Working at "St. Petersburg Information
          Analytical Center" solo-leading development for an internal management
          system for the HR dept.
        </li>
        <li>
          <span>Currently:</span>Looking for freelance work / job opportunities!
        </li>
      </ul>

      <ul>
        <li><h3>Education:</h3></li>
        <li>
          <span>09/23 - Present:</span> Studying at SPbETU "LETI" in Computer
          Security.
        </li>

        <li>
          <span>09/19 – 07/23:</span> Graduated from "Petrovsky College"
          studying Information systems and databases.
        </li>
      </ul>

      <div class="space-y-4">
        <h3>tl;dr:</h3>
        <p>
          i'm a web developer, mainly interested in working on frontend /
          fullstack applications.
        </p>
      </div>
    </div>
    <div class="md:w-[40%]">
      <Profile />
    </div>
  </div>

  <style>
    span {
      @apply whitespace-nowrap mr-4;
    }

    li {
      @apply md:flex text-justify;
    }

    ul {
      @apply space-y-4;
    }
  </style>
</section>
