---
import { Image } from "astro:assets";
import Spacer from "../utils/Spacer.astro";
import Button from "../ui/Button.astro";
---

<section id="about" class="text-white mx-auto scroll-mt-20">
  <div
    class="md:flex my-10 justify-center items-center gap-6 space-y-6 md:space-y-0"
  >
    <div class="flex-1 text-seafoam outline-container crossed py-8 group">
      <p class="text-justify">
        This should be some small but concise info about myself ig.
      </p>
    </div>
    <div class="md:w-[40%] text-tokyo outline-container stripped">
      <h1 transition:name="about">About Me.</h1>
    </div>
  </div>

  <Spacer />

  <div
    class="md:flex justify-center items-stretch gap-6 space-y-6 md:space-y-0"
  >
    <div class="flex-1">
      <div id="profile" class="outline-container text-green-400">
        <Image
          height={300}
          width={300}
          src="https://avatars.githubusercontent.com/u/78863729?v=4"
          alt="pfp"
          class="rounded-full h-full w-full dotted p-2 text-green-400"
        />
        <div class="my-4 sapce-y-2">
          <h2>My name is Philipp S.</h2>
          <h4 class="text-whisper">AKA embersee</h4>
          <h4 class="text-whisper">
            some text about me or my current status from discord live presense
          </h4>
        </div>
        <div id="links" class="flex justify-between">
          <div class="text-purple-500">
            <Button href="mailto:embersee@proton.me" content="Email" blank />
          </div>

          <div class="text-blue-500">
            <Button
              href="https://telegram.me/embersee"
              content="Telegram"
              blank
            />
          </div>

          <div class="text-orange-500">
            <Button href="https://github.com/embersee" content="Github" blank />
          </div>
        </div>
      </div>
    </div>

    <div
      class="md:w-[60%] flex flex-col items-end outline-container text-brick"
    >
      <div class="space-y-4 flex-grow">
        <h2>
          Purpose-driven product designer who loves crafting unique, yet
          engaging solution that tackles fundamental problem
        </h2>

        <p>
          Highly interested to work on digital products in early-stage or even
          newly-founded startup that are oriented towards empowering the lives
          of many people.
        </p>
        <p>
          I can help in designing end-to-end product experience using design
          thinking framework, no-code experimentation for product validation,
          and suggesting product strategy based on customer-centered product
          research.
        </p>
        <p>
          One of the biggest risks of building a product is to build the wrong
          thing. We need to figure out first whether the problem is a real one
          that needs solving.
        </p>
      </div>
      <div class="self-end">
        <Button href="/about" content="see more" />
      </div>
    </div>
  </div>
</section>

<style>
  a {
    @apply text-tokyo hover:underline;
  }
</style>
