<section id="index" class="banner">
  <!-- <Image
    src="https://media.giphy.com/media/3ohhwGGrCD9wCQ5cwU/giphy.gif"
    alt="gif by Erica Anderson"
    height={500}
    width={500}
    class="w-full max-h-[600px] object-cover absolute top-0 z-0"
  /> -->

  <div class="flex flex-col md:flex-row">
    <div class="flex flex-col justify-between space-y-10">
      <h1>Human-centered problem solver</h1>
      <h2>
        Design for a purpose, simplifying complex and brain draining tasks.
        Crafting delightful experience and visually pleasing design
      </h2>
    </div>
    <div class="flex flex-col justify-between text-right space-y-10">
      <p>Experience Design //</p>
      <h3>Available for freelance work and internship opportunities</h3>
    </div>
  </div>
</section>

<style>
  .banner {
    @apply bg-hero-pattern bg-center bg-no-repeat bg-cover h-[700px] flex flex-col-reverse items-center p-12 md:p-24 text-white scroll-mt-16;
  }

  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-light text-2xl;
  }

  h3 {
    @apply text-xl font-medium;
  }
</style>
