<section>
  <div
    class="md:flex my-10 justify-center items-stretch gap-6 space-y-6 md:space-y-0"
  >
    <div class="flex-1 text-seafoam">
      <div class="outline-container dotted py-8">
        <p class="bg-black p-2">
          I love storytelling and exploring unique design interface. Here are
          some exciting project and explorations that I have done.
        </p>
      </div>
    </div>
    <div class="md:w-[40%] text-purple-400">
      <div class="outline-container hashed flex items-center">
        <h1 class="bg-black px-4 py-10">Contact</h1>
      </div>
    </div>
  </div>
</section>
