---
import Button from "../Button.astro";
import ProjectCard from "../ProjectCard.astro";
import Spacer from "../Spacer.astro";
---

<section id="work" class="mx-auto transition-all scroll-mt-20">
  <div class="md:flex justify-center items-center gap-6 space-y-6 md:space-y-0">
    <div class="flex-1 text-babyblue outline-container hashed">
      <h1>Selected Works.</h1>
    </div>
    <div class="group md:w-[40%] text-matcha outline-container dotted py-8">
      <p class="text-justify">
        I love <strong class="group-hover:text-matcha">storytelling</strong>
         and exploring unique design interface. Here are some exciting project
        and <strong class="group-hover:text-matcha">explorations</strong> that I
        have done.
      </p>
    </div>
  </div>

  <Spacer />

  <div class="md:flex gap-6 space-y-10 md:space-y-0">
    <ul class="flex-1 flex flex-col items-end space-y-6 text-yellow-300">
      <ProjectCard
        title="Spectrier"
        desc="E-commerce Telegram WebApp bot with a management system."
        href="https://github.com/embersee/spectrier"
        stack={["Next", "Typescript", "Tailwind", "tRPC", "Prisma"]}
      />

      <ProjectCard
        title="Embersee"
        desc="This portfolio website."
        stack={["Astro"]}
      />

      <ProjectCard
        title="Spectrier"
        desc="E-commerce Telegram WebApp bot with a management system."
        wip
      />
      <ProjectCard
        title="Delphox"
        desc="E-commerce service for distributing serverless Telegram WebApp bots with a management system."
        wip
      />

      <Button href="/work" content="see more" />
    </ul>
    <div
      class="md:w-[40%] flex flex-col items-end space-y-4
    outline-container text-babycarrot group"
    >
      <ul class="space-y-6 font-light text-white flex-grow">
        <h2>Education / Employment</h2>
        <li>
          &diams; Currently: Looking for freelance work / job opportunities!
        </li>
        <li>
          &diams; 09/2023 - Present: Studying at SPbETU "LETI" in <strong
            class="group-hover:text-babycarrot">Computer Security</strong
          >.
        </li>
        <li>
          &diams; 04/2023 – 09/2023: Working at "St. Petersburg Information
          Analytical Center" <strong class="group-hover:text-babycarrot"
            >solo-leading development</strong
          > for an internal management system for the HR dept.
        </li>
        <li>
          &diams; 09/2019 – 07/2023: Graduated from "Petrovsky College" studying


          <strong class="group-hover:text-babycarrot"
            >Information systems and databases</strong
          >.
        </li>
      </ul>
      <Button href="/experience" content="download cv" />
    </div>
  </div>

  <style>
    h1 {
      @apply font-bold text-5xl text-white;
    }

    h2 {
      @apply font-bold text-2xl text-white;
    }

    p {
      @apply font-light text-base  text-white;
    }
  </style>
</section>
