<section class="h-screen bg-black lg:max-w-5xl text-white mx-auto">
  <div class="md:flex justify-center items-stretch mt-32">
    <div class="flex-1">
      <h1>Featured Work</h1>
    </div>
    <div class="w-[40%]">
      <p>
        I love storytelling and exploring unique design interface. Here are some
        exciting project and explorations that I have done.
      </p>
    </div>
  </div>
</section>

<style>
  h1 {
    @apply font-bold text-5xl whitespace-nowrap;
  }

  p {
    @apply font-light text-base text-whisper;
  }
</style>
