---
import { Image } from "astro:assets";
import ProjectCard from "../ProjectCard.astro";
---

<section
  id="work"
  class="h-screen bg-black lg:max-w-7xl text-white mx-auto outline-container-pink p-6"
>
  <div
    class="md:flex justify-center items-stretch gap-6 space-y-6 md:space-y-0"
  >
    <div class="flex-1 outline-container-blue stripped flex items-center">
      <h1 class="bg-black px-4 py-10">Featured Work 💻</h1>
    </div>
    <div class="md:w-[40%] outline-container-green dotted py-10">
      <p class="bg-black outline-container-green">
        I love storytelling and exploring unique design interface. Here are some
        exciting project and explorations that I have done.
      </p>
    </div>
  </div>

  <ul class="mt-14 space-y-4 max-w-4xl">
    <ProjectCard
      title="Spectrier"
      desc="E-commerce Telegram WebApp bot with a management system."
      href="https://github.com/embersee/spectrier"
      stack={["Next", "Typescript", "Tailwind", "tRPC", "Prisma"]}
    />

    <ProjectCard
      title="Embersee/embersee"
      desc="This portfolio website."
      stack={["Astro"]}
    />

    <ProjectCard
      title="Spectrier"
      desc="E-commerce Telegram WebApp bot with a management system."
      wip
    />
  </ul>

  <style>
    h1 {
      @apply font-bold text-5xl;
    }

    p {
      @apply font-light text-base text-whisper;
    }
  </style>
</section>
