.ascii {
  display: flex;
  height: 100vh;
  // aspect-ratio: 1;
}

.canvas {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
  // transition: padding-left 600ms var(--ease-out-expo);
}
