@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 20%;
    --accent: 36, 100%, 50%;

    --accent2: 36, 100%, 50%;

    --radius: 1.25rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0, 0%, 0%;
      --foreground: 219, 83%, 95%;
      --accent: 124, 94%, 74%;
      --accent2: 124, 94%, 74%;
    }
  }

  @font-face {
    font-display: block;
    font-family: "Geist Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/GeistMono-Medium.woff2") format("woff2");
  }

  @font-face {
    font-display: block;
    font-family: "Geist Mono";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/GeistMono-UltraLight.woff2") format("woff2");
  }
}

body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
}

main {
  @apply selection:bg-babycarrot;
}

.ascii {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
}

.canvas {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-snap-align: start;
}

canvas,
div {
  touch-action: auto !important;
}

.button {
  @apply w-min cursor-pointer select-none whitespace-nowrap;
}

a {
  background: linear-gradient(
      to right,
      hsl(var(--background)),
      hsl(var(--background))
    ),
    linear-gradient(to right, hsl(var(--accent2)), hsl(var(--accent)));
  background-size:
    100% 0.1em,
    0 0.1em;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
}

a:hover,
a:focus {
  background-size:
    0 0.1em,
    100% 0.1em;
}
