---
import Spacer from "../utils/Spacer.astro";
import Heading from "../ui/Heading.astro";
import Profile from "../ui/Profile.astro";
import MyStack from "../ui/MyStack.astro";
---

<section id="about" class="snap">
  <Spacer />
  <Heading
    title="About"
    subtitle="Weaving tales of data and functionality with every line of code."
    colour="text-frost"
    index="about"
  />
  <Spacer padding={"my-8"} />

  <div class="md:flex gap-6 space-y-6 md:space-y-0">
    <div class="flex-1 space-y-2 md:space-y-10">
      <div>
        <MyStack />
      </div>
      <ul class="bg-night/30 backdrop-blur-sm p-4">
        <li><h3>Employment:</h3></li>
        <li>
          <span>Currently:</span>Looking for freelance work / job opportunities!
        </li>
        <li>
          <span>04/23 – 09/23:</span> Working at "St. Petersburg Information
          Analytical Center" solo-leading development for an internal management
          system for the HR dept.
        </li>
      </ul>

      <ul class="bg-night/30 backdrop-blur-sm p-4">
        <li><h3>Education:</h3></li>
        <li>
          <span>09/23 - Present:</span> Studying at SPbETU "LETI" in Computer
          Security.
        </li>

        <li>
          <span>09/19 – 07/23:</span> Graduated from "Petrovsky College"
          studying Information systems and databases.
        </li>
      </ul>
    </div>
  </div>

  <style>
    span {
      @apply whitespace-nowrap mr-4;
    }

    li {
      @apply md:flex;
    }

    ul {
      @apply space-y-4;
    }
  </style>
</section>
