---
import Banner from "@/components/landing/Banner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Work from "@/components/landing/Work.astro";
import About from "@/components/landing/About.astro";
import Spacer from "@/components/Spacer.astro";
---

<BaseLayout>
  <main>
    <Banner />
    <div class="p-6"><Spacer /><Work /><Spacer /> <About /><Spacer /></div>
  </main>
</BaseLayout>

<style is:global>
  .dotted {
    --dot-bg: black;
    --dot-color: currentColor;
    --dot-size: 3px;
    --dot-space: 6px;
    transition-duration: 300ms;
    background:
      linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }

  .stripped {
    --dot-bg: black;
    --dot-color: currentColor;
    --dot-size: 1px;
    --dot-space: 5px;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 3px,
      transparent 5px,
      var(--dot-color) 5px,
      var(--dot-color) 7px
    );
  }

  .hashed {
    --dot-bg: black;
    --dot-color: currentColor;
    --dot-size: 1px;
    --dot-space: 5px;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 3px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      ),
      repeating-linear-gradient(
        135deg,
        transparent,
        transparent 3px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      );
  }

  .crossed {
    --dot-bg: black;
    --dot-color: currentColor;
    --dot-size: 1px;
    --dot-space: 5px;
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 1px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 6px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 1px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 6px
      );
  }

  .outline-container:hover {
    @apply outline outline-offset-8 outline-2 outline-[currentColor] transition-all duration-300;
  }

  /* .spacer {
    @apply outline outline-2 outline-[currentColor] transition-all duration-300;
  } */

  html {
    scroll-behavior: smooth;
  }
</style>
