---
import BaseLayout from "../layouts/BaseLayout.astro";
import Work from "@/components/landing/Work.astro";
import About from "@/components/landing/About.astro";
import Spacer from "@/components/Spacer.astro";
---

<BaseLayout>
  <main id="index" class="max-w-7xl mx-auto p-4">
    <Spacer /><Work /><Spacer />
    <About /><Spacer />
  </main>
</BaseLayout>

<style is:global>
  .dotted:active {
    --dot-bg: black;
    --dot-color: color-mix(in srgb, currentColor 50%, transparent);
    --dot-size: 3px;
    --dot-space: 6px;
    background:
      linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }

  .stripped:active {
    --dot-color: color-mix(in srgb, currentColor 50%, transparent);

    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 3px,
      transparent 5px,
      var(--dot-color) 5px,
      var(--dot-color) 7px
    );
  }

  .hashed:active {
    --dot-color: color-mix(in srgb, currentColor 70%, transparent);

    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 3px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      ),
      repeating-linear-gradient(
        135deg,
        transparent,
        transparent 3px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      );
  }

  .crossed:active {
    --dot-color: color-mix(in srgb, currentColor 50%, transparent);

    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 1px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 1px,
        transparent 5px,
        var(--dot-color) 5px,
        var(--dot-color) 7px
      );
  }

  .shadow-box:hover {
    -webkit-box-shadow: -8px 8px 0px 0px currentColor;
    -moz-box-shadow: -8px 8px 0px 0px currentColor;
    box-shadow: -8px 8px 0px 0px currentColor;
  }

  .shadow-box:active {
    -webkit-box-shadow: -4px 4px 0px 0px currentColor;
    -moz-box-shadow: -4px 4px 0px 0px currentColor;
    box-shadow: -4px 4px 0px 0px currentColor;
  }

  .outline-container:hover {
    @apply outline outline-offset-8 outline-2 outline-[currentColor] transition-all;
  }

  .outline-container:active {
    @apply outline-offset-4;
  }

  /* div {
    @apply outline outline-1;
  } */

  html {
    scroll-behavior: smooth;
    @apply text-white;
  }
</style>
