---
import Banner from "@/components/landing/Banner.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Work from "@/components/landing/Work.astro";
---

<BaseLayout>
  <main><Banner /> <div class="m-10"><Work /></div></main>
</BaseLayout>

<style></style>
