---
import BaseHead from "@/components/utils/BaseHead.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>
  <body class="mx-auto bg-black text-white">
    <main class="mx-auto px-4 snap-container">
      <slot />
    </main>
  </body>
</html>
