---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="mx-auto bg-black text-white">
    <Navigation />
    <main id="index" class="max-w-7xl min-h-screen mx-auto px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
