---
import LinkArrow from "@/components/utils/LinkArrow.astro";
---

<div class="button shadow-box text-frost">
  <a href="/">
    <div class="p-2 flex gap-1 text-white">
      <div class="rotate-[225deg]"><LinkArrow height={24} width={24} /></div><p>
        back
      </p>
    </div>
  </a>
</div>

<style>
  .button {
    @apply bg-night mb-4 md:mb-0 w-min transition-all whitespace-nowrap select-none cursor-pointer outline-2 border-current;
  }

  .button:hover {
    @apply hover:underline hover:-translate-y-2 hover:translate-x-2 hover:outline;
  }

  .button:active {
    @apply hover:-translate-y-1 hover:translate-x-1;
  }
</style>
