---
import LinkArrow from "@/components/utils/LinkArrow.astro";
interface Props {
  href: string;
  content: string;
  blank?: boolean;
}
const { href, content, blank } = Astro.props;
---

<div class="button shadow-box">
  <a href={href} target={blank ? "_blank" : "_self"}>
    <div class="p-2 flex gap-1 text-white">
      <p>{content}</p><LinkArrow height={24} width={24} />
    </div>
  </a>
</div>

<style>
  .button {
    @apply bg-night w-min transition-all whitespace-nowrap select-none cursor-pointer outline-2 border-current;
  }

  .button:hover {
    @apply hover:underline hover:-translate-y-2 hover:translate-x-2 hover:outline;
  }

  .button:active {
    @apply hover:-translate-y-1 hover:translate-x-1;
  }
</style>
