---
import Button from "./Button.astro";
---

<div
  class="flex flex-col space-y-4 text-justify bg-night/30 p-4 backdrop-blur-sm"
>
  <h3>Tech:</h3>
  <p>
    NextJS, Typescript, Javascript, Astro, Tailwind, CSS3, PostgreSQL, MySQL,
    MSSQL, C#, Go, C, Bash.
  </p>

  <div class="justify-end flex space-x-4 text-frost">
    <Button href="/cv" content="download cv" blank />
    <Button
      href="https://gist.github.com/embersee"
      content="view gists"
      blank
    />
  </div>
</div>
