---
import Button from "./Button.astro";
import { Image } from "astro:assets";
---

<div class="md:flex">
  <Image
    height={300}
    width={300}
    src="https://avatars.githubusercontent.com/u/78863729?v=4"
    alt="pfp"
    class="rounded-full w-1/2 aspect-square p-2"
  />

  <div class="">
    <div class="my-4 space-y-4 bg-night/30 backdrop-blur-sm p-4">
      <h2>Philipp S.</h2>

      <p class="text-whisper">
        i'm currently in the process of architecting <a href="/project/delphox"
          >a new project</a
        >.
      </p>
    </div>
    <div class="bg-night/30 backdrop-blur-sm p-4">
      <p class="text-lg mb-2">You can find me here:</p>
      <div id="links" class="flex justify-between text-frost">
        <Button href="mailto:embersee@proton.me" content="Email" blank />

        <Button href="https://telegram.me/embersee" content="Telegram" blank />

        <Button href="https://github.com/embersee" content="Github" blank />
      </div>
    </div>
  </div>
</div>
