<nav>
  <div class="flex h-16 justify-between items-center px-10">
    <a href="/">https://embersee.net</a>

    <!-- <p class="hidden md:block">SAINT-PETERSBURG <span id="time"></span></p>
    <p class="hidden md:block">STATUS: <span id="status">OFFLINE</span></p> -->
    <div class="space-x-2 hidden md:block">
      <a href="/projects">WORK</a><span>/</span><a href="/#about">ABOUT</a>
    </div>
  </div>
</nav>

<style>
  nav {
    @apply bg-night/30 sticky top-0 z-50 text-white backdrop-blur backdrop-hue-rotate-90;
  }

  a:hover {
    @apply underline;
  }
</style>
