<nav>
  <div class="flex h-12 justify-between items-center px-10">
    <a href="/">2023 // EMBERSEE</a>
    <a href="/" class="hidden md:block">SAINT-PETERSBURG 09:42:18</a>
    <a href="/" class="hidden md:block">STATUS: 0 ONLINE</a>
    <div class="space-x-2 hidden md:block">
      <a href="#index">INDEX</a><span>/</span><a href="#work">WORK</a><span
        >/</span
      ><a href="#about">ABOUT</a><span>/</span><a href="#contact">CONTACT</a>
    </div>
  </div>
</nav>

<style>
  nav {
    @apply bg-black/80 sticky top-0 z-50 text-white backdrop-blur backdrop-hue-rotate-90;
  }
</style>
